urllib3==1.26.14
pip==22.3.1
wheel==0.38.4
setuptools==65.5.1
flake8==6.0.0
pyflakes==3.0.1
pycodestyle==2.10.0
pytest==7.2.1
attrs=22.2.0
tomli==2.0.1
iniconfig==2.0.0
exceptiongroup==1.1.0
pluggy==1.0.0
mccabe==0.7.0
colorama==0.4.6